<!-- html here goes to header of each document -->

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="ГПіМР">
<link rel="apple-touch-icon" href="/icon192.png" />

<link rel="manifest" href="manifest.json" />

<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="ГПіМР">

<link rel="icon" sizes="16x16" href="/icon16.png" />
<link rel="icon" sizes="32x32" href="/icon32.png" />
<link rel="icon" sizes="192x192" href="/icon192.png" />

<!-- Tile icon for Win8 -->
<meta name="msapplication-TileImage" content="/icon192.png" />

<!-- RSS feed -->
<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Гаррі Поттер і Методи Раціональності" />
